<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-3">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-1" *ngFor="let action of actions">
          <button
            (click)="setCurrentAction(action)"
            routerLink="{{ action.route }}"
            [ngClass]="[
              'btn',
              action === currentAction ? 'btn-success' : 'btn-outline-success'
            ]"
          >
            {{ action.title }}
            <i class="bi bi-{{ action.icon }} ms-2"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
